#works {
    /* margin: 0 auto; */
    /* min-height: calc(100vh - 4rem); */
    width: 100%;
    height: auto;
    /* max-width: 60rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 0 1rem; */
    /* background-color: aqua; */
}

.workTittle {
    font-size: 3rem;

}

.workDesc {
    font-weight: 300;
    font-size: 1rem;
    /* max-width: 45rem; */
}

.worksImgs {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.workimg {
    margin: 0.5rem;
    object-fit: cover;
    height: 15rem;
}

.projectBox {
    width: 50rem;
    height: 12rem;
    display: flex;
    background-color: rgb(50, 50, 50);
}

.imgBox {
    width: 40%;
    object-fit: cover;
}

.styleCross {
    transform: translateX(147%) rotate(180deg);
    border-left: 130px solid rgb(50, 50, 50);
    border-top: 192px solid transparent;
    position: absolute;
}

.conBox {
    width: 60%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectTittle {
    width: 100%;
    height: auto;
}

.projectDesc {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: small;
    font-weight: 300;
    font-size: 1rem;

}

.cardBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 30%;
    height: 3rem;
    background-color: #ffff;
    border-radius: 1rem;
    border: none;
    background-color: #ffff;
    cursor: pointer;
    font-size: 1rem;
}

.visitCom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .2em;
}

@media(max-width:1100px) {
    #works {
        width: 1100px;
    }

}

@media(max-width:800px) {
    #works {
        width: 850px;
    }

    .projectBox {
        width: 40rem;
        height: 14rem;
    }

    .styleCross {
        transform: translateX(97.1%) translateY(-.1%) rotate(180deg);
        border-left: 130px solid rgb(50, 50, 50);
        border-top: 224.5px solid transparent;
        position: absolute;
    }

}

@media(max-width:650px) {
    #works {
        width: 650px;
    }

    .workDesc {
        width: 75%;
    }

    .workimg {
        height: 12rem;
    }

    .projectBox {
        width: 20rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgBox {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        background-color: red;
    }

    .conBox {
        width: 100%;
        height: 15rem;
    }

    .styleCross {
        transform: translateX(1%) translateY(-20.1%) rotate(270deg);
        border-left: 50px solid rgb(50, 50, 50);
        border-top: 320px solid transparent;
        height: 0;
        width: 0;
    }
}

@media(max-width:400px) {
    #works {
        width: 590px;
    }

    .workimg {
        height: 10rem;
    }

    .projectBox {
        width: 20rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgBox {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        background-color: red;
    }

    .conBox {
        width: 100%;
        height: 15rem;
    }

    .styleCross {
        transform: translateX(1.4%) translateY(-20%) rotate(270deg);
        border-left: 50px solid rgb(50, 50, 50);
        border-top: 320px solid transparent;
        height: 0;
        width: 0;
    }
}

@media(min-width:2560px) {
    #works {
        width: 3000px;
    }

    .workDesc {
        width: 80%;
        font-size: 50px;
    }
    .worksImgs{
        width: 80%;
        display: flex;
        gap: 8rem;
    }
    .projectBox{
        width: 70em;
        height: 25em;
    }
    .styleCross {
        transform: translateX(245%) rotate(180deg);
        border-left: 130px solid rgb(50, 50, 50);
        border-top: 400px solid transparent;
        position: absolute;
    }
    .conBox {
        width: 70%;
        height: 25rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}