.skillCom{
    width: 100%;
    margin: 0%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.techSec{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.teckStack{
    width: 8rem;
    height: 8rem;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;

}
.teckImg{
    width: 3.5rem;
    height: 3.5rem;
}
@media(max-width:1100px){
    .skillCom{
        width: 1100px;
    }
}
@media(max-width:800px){
    .skillCom{
        width: 850px;
    }
}
@media(max-width:600px){
    .skillCom{
        width: 700px;
    }
}
@media(max-width:400px){
    .skillCom{
        width: 590px;
    }
}
@media(min-width:2560px){
    .skillCom{
        width: 3000px;
    }
    .teckStack{
        width: 20rem;
        height: 20rem;
    }    
    .teckStack>h3{
        font-size: 40px;
    }
    .teckImg{
        width: 8rem;
        height: 8rem;
    }
}
