#skill{
overflow: hidden;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin: 0 auto;
}
#about{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    }
.skillTittle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;
}
.skillDesc{
    font-weight: 200;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars{
    margin: 1.5rem;
    width: 53rem;
    /* max-width: 80%; */
    text-align: left;
}

.skillBar{
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background-color: rgb(50, 50, 50);
}
.skillBarText>p{
    font-size: .9rem;
    font-weight: 200;
}
.techSec{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.teckStack{
    width: 10rem;
    height: 10rem;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;

}
.teckImg{
    width: 5rem;
    height: 5rem;
}
@media(max-width:1100px){
    #skill{
        width: 1100px;
    }
    #about{
        width: 1100px;
    }
    .skillBars{
        width: 54rem;
    }
  }
  
@media(max-width:800px){
    #skill{
        width: 845px;
    }
    #about{
        width: 845px;
    }
    .skillBars{
        width: 44rem;
    }
  }
  

 @media(max-width:426px){
    #skill{
        width: 650px;
    }  
    #about{
        width: 650px;
    } 
    .skillBars{
        width: 25rem;
    }
  }
  @media(max-width:376px){
    #skill{
        width: 580px;        
    }
    #about{
        width: 580px;
    }
    .skillBars{
        width: 25rem;
    }   
    /* .techSec{

    } */
  }
