@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#intro {
    height: 85vh;
    width: 99%;
    margin: 0% 1.25rem;
    position: relative;
    display: flex;
    justify-content: center;

}

.introContent {
    width: 80%;
    height: 85vh;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 100;
    letter-spacing: 1px;
}

.hireBtn {
    width: 5rem;
    height: 1rem;
    font-size: .4em;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 1rem 0;
    padding: .75rem 2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    gap: .2em;
}
.hireBtn:hover{
    background-color: blue;
    color: #fff;
    transition: .8s;
}
@media(max-width:800px) {
    #intro {
        width: 820px;
    }
}

@media(max-width:650px) {
    #intro {
        width: 650px;
    }
}

@media(max-width:426px) {
    #intro {
        width: 620px;
    }

}

@media(max-width:376px) {
    #intro {
        width: 560px;
    }

}

@media(min-width:2300px) {
    #intro {
        width: 3000px;
    }

    .introContent {
        font-size: 100px;
    }

    .hello {
        font-size: 150px;
    }

    .introPara {
        font-size: 70px;
    }

    .hireBtn {
        padding: 1em 3em;
    }

    .dwnofLine {
        font-size: 80px !important;
    }
}